/*Banner*/
.banner-section,.article-container{
  width: auto;
  height: auto;
}
.banner-section .wp-block-column.is-vertically-aligned-center {
  position: relative;
  top: 50%;
  left: 10%;
  background: rgb(49, 58, 67, 0.8);
  padding: 15px;
  border-radius: 20px;
}
.banner-section h1 {
  font-size: 40px !important;
  font-weight: 800 !important;
}
.banner-section p{
  letter-spacing: 1px;
  margin-top: 10px !important;
  color: #fff !important;
}
.banner-section .btn a{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  background: #2ecc71;
  padding: 15px 20px;
  text-decoration: none;
}
.banner-section .btn a:hover {
  background: #fff !important;
  color: #313a43 !important;
}
/*Article*/
.wp-block-columns.article-container.has-white-background-color{
  padding: 0;
}
.article-container .wp-block-column:not(:first-child), .editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child), .editor-styles-wrapper .block-editor-block-list__block.wp-block-column:nth-child(2n){
  margin-left: 0 !important;
}
.article-section{
  padding: 20px !important;
  border: none !important;
}
.article-section .wp-block-image figure, .article-section .wp-block-buttons.aligncenter{
  border: none !important;
}
.article-section img {
  width: 50px !important;
}
.article-section h2{
  font-size: 20px !important;
  letter-spacing: 1px;
  padding: 20px 0 0 !important;
  font-weight: 600 !important;
  color: #fff !important;
}
.article-section p{
  text-align: center !important;
  font-size: 12px !important;
  color: #fff !important;
}
.article-section .service-btn a{
  color: #2ecc71 !important;
  background-color: #fff !important;
  text-decoration: none;
}
.article-section .service-btn a:hover{
  color: #313a43 !important;
  background-color: #fff !important;
}
@media screen and (max-width:767px) {
  .banner-section h1{
    font-size: 30px !important;
  }
  .banner-section .wp-block-column.is-vertically-aligned-center{
    background: none;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .wp-block-columns.article-container.has-white-background-color{
    flex-wrap: nowrap;
  }
}